# 你的私钥（注意安全！）
PRIVATE_KEY=你的钱包账户私钥key

# Etherscan API Key（用于合约验证）
ETHERSCAN_API_KEY=你验证的key

# Sepolia 测试网 RPC URL
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/你的infura上创建的key
BASE_SEPOLIA_RPC_URL=https://base-sepolia.infura.io/v3/你的infura上创建的key

# 已部署的合约地址
REWARD_TOKEN_ADDRESS=0x...
TOKEN_A_ADDRESS=0x...
TOKEN_B_ADDRESS=0x...
PAYMENT_TOKEN_ADDRESS=0x...
SWAP_ADDRESS=0x...
STAKE_POOL_ADDRESS=0x...
FARM_ADDRESS=0x...
LAUNCHPAD_ADDRESS=0x...
MEME_FACTORY_ADDRESS=0x...