
# Sepolia 测试网 RPC URL
NEXT_PUBLIC_RPC_URL_SEPOLIA=https://sepolia.infura.io/v3/你的infura上创建的key

# 合约地址（与 foundry-demo/.env 保持一致）
NEXT_PUBLIC_REWARD_TOKEN_ADDRESS=0x...
NEXT_PUBLIC_TOKEN_A_ADDRESS=0x...
NEXT_PUBLIC_TOKEN_B_ADDRESS=0x...
NEXT_PUBLIC_PAYMENT_TOKEN_ADDRESS=0x...
NEXT_PUBLIC_SWAP_ADDRESS=0x...
NEXT_PUBLIC_STAKE_POOL_ADDRESS=0x...
NEXT_PUBLIC_FARM_ADDRESS=0x...
NEXT_PUBLIC_LAUNCHPAD_ADDRESS=0x...
NEXT_PUBLIC_TOKEN_FACTORY_ADDRESS=0x...
NEXT_PUBLIC_MEME_FACTORY_ADDRESS=0x...



# CCIP跨链转账相关
NEXT_PUBLIC_CCIP_TOKEN_SEPOLIA=0x1e92b3D42520fc9755730a80537b55Bb8731A295
NEXT_PUBLIC_CCIP_ROUTER_SEPOLIA=0x0BF3dE8c5D3e8A2B34D2BEeB17ABfCeBaf363A59
NEXT_PUBLIC_CHAIN_SELECTOR_SEPOLIA=16015286601757825753

NEXT_PUBLIC_CCIP_TOKEN_BASE_SEPOLIA=0x102Acb6408E4a568D9dD4113BB95a5c0b76d08AC
NEXT_PUBLIC_CCIP_ROUTER_BASE_SEPOLIA=0xD3b06cEbF099CE7DA4AcCf578aaebFDBd6e88a93
NEXT_PUBLIC_CHAIN_SELECTOR_BASE_SEPOLIA=10344971235874465080

